# Игнорируем библиотеки (они тяжелые)
node_modules/
**/node_modules/

# Игнорируем секреты (безопасность!)
.env

# Игнорируем системные файлы операционной системы
.DS_Store
Thumbs.db

# Игнориируем визуальные настройки папки
desktop.ini